COMMERCETOOLS_PORT=4310
COMMERCETOOLS_PROJECT_KEY=
COMMERCETOOLS_CLIENT_ID=
COMMERCETOOLS_CLIENT_SECRET=
COMMERCETOOLS_SCOPE=
COMMERCETOOLS_AUTH_URL=https://auth.us-central1.gcp.commercetools.com
COMMERCETOOLS_API_URL=https://api.us-central1.gcp.commercetools.com
